.calculator {
  display: grid;
  grid: repeat(2, auto) / 1fr;
  row-gap: 10px;
  padding: 10px;
  border-radius: 10px;

  background-color: var(--colorCalculatorBg);
  box-shadow: var(--shadowCalculator);
}
