.keyboard {
  display: grid;
  grid: auto / repeat(2, auto);
  column-gap: 10px;

  &__numbers {
    display: grid;
    grid: repeat(4, 50px) / repeat(3, 50px);
    gap: 3px;

    &--zero {
      grid-column: 1 / span 2;
    }
  }

  &__operators {
    display: grid;
    grid: repeat(4, 50px) / repeat(2, 50px);
    gap: 3px;

    &--equals {
      grid-column: 1 / span 2;
    }
  }
}
