.screen {
  border-radius: 5px;
  font-family: 'VT323', monospace;
  color: var(--colorScreenFont);
}

.screen__previous {
  background-color: var(--colorScreenHistoryBg);
  font-size: 20px;
}

.screen__previous {
  background-color: var(--colorScreenBg);
  font-size: 35px;
}
