.screen {
  border-radius: 10px;
  overflow: hidden;
  font-family: 'VT323', monospace;
  color: var(--colorScreenFont);

  &__previous {
    height: 30px;
    background-color: var(--colorScreenHistoryBg);
    font-size: 20px;
  }

  &__current {
    height: 50px;
    background-color: var(--colorScreenBg);
    font-size: 35px;
  }
}
