@font-face {
  font-family: 'Inter';
  font-style: 'normal';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter.ttf');
}

@font-face {
  font-family: 'VT323';
  font-style: 'normal';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/VT323.ttf');
}

@font-face {
  font-family: 'IBMPlexMono';
  font-style: 'normal';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/IBMPlexMono-Bold.ttf');
}
