body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;

  background-color: var(--colorBg);
  background-image: var(--imageGradientBg);
}
