$widthMin: 320px;
$widthMobileMin: 500px;
$widthDesktopMin: 900px;

:root {
  --colorBg: #4ca1af;
  --imageGradientBg: linear-gradient(45deg, #4ca1af 0%, #c4e0e5 100%);

  --colorCalculatorBg: #c44934;
  --colorScreenBg: #8fce9e;
  --colorScreenHistoryBg: #64836d;
  --colorScreenFont: #223026;

  --colorKeyFont: #111111;
  --colorKeyBg: #f9fde4;
  --colorKeyBgHover: #e9f89d;

  --colorKeyBlackFont: #ffffff;
  --colorKeyBlackBg: #2e2e2e;
  --colorKeyBlackBgHover: #111111;

  --colorKeyGreenFont: #ffffff;
  --colorKeyGreenBg: #124407;
  --colorKeyGreenBgHover: #0b2905;

  --shadowCalculator: 0px 0px 20px -10px #232323;
  --shadowKeyActive: inset 0px 0px 10px -5px black;
}
