$widthMin: 500px;
$widthDesktopMin: 900px;

:root {
  --colorBg: #4ca1af;
  --imageGradientBg: linear-gradient(45deg, #4ca1af 0%, #c4e0e5 100%);

  --colorCalculatorBg: #c44934;
  --colorScreen: #8fce9e;
  --colorScreenHistory: #64836d;

  --colorKeyBg: #f9fde4;
  --colorKeyBgActive: #e9f89d;
  --colorKeyFont: #111111;

  --colorKeyACBg: #2e2e2e;
  --colorKeyACBgActive: #111111;
  --colorKeyACFont: #ffffff;
}
